.bundle
.dump
.DS_Store
log
log/*.log
log/*.log.lck
tmp/*
tmp/**/*
.idea/**/*
.idea
.autotest
public/system/**/*
pg
.sass-cache/
results
results/**/*
coverage
coverage/**/*
node_modules
node_modules/**/*
public/assets
public/assets/**/*
solr/data/**/*
solr/pids/**/*
public/source_maps/
public/uploads
public/uploads/**/*
temporary
temporary/*
