h2.center.main-title Welcome in Time Tracker
.row
  = link_to "Sign In", new_user_session_path, class: 'btn btn-large btn btn-success'
  = link_to "Sign Up", new_user_registration_path, class: 'btn btn-large btn btn-success'