/* placeholders */
%hide-text {
	text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;	
}
.main-content {
	margin: 20px 0;
}
.main-title {
	margin: 50px 0;
}
.center {
	text-align: center;
}
.map {
	margin-right: 20px;
}
.place {
	overflow: hidden;
}
