- action = member.active ? 'deactivate' : 'activate'
td= member.user.first_name
td= member.user.last_name
td= member.owner ? "owner" : "regular"
td
	button.btn.btn-primary data-id=member.user.id data-action=(action)
		= action